@{
    ViewBag.Title = "Super Movie";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/Content/thumbnail-slider.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/thumbnail-slider.js" type="text/javascript"></script>

</head>
<body>
<div style="padding:0 0;">
    <div id="thumbnail-slider">
        <div class="inner">
            <ul>
                <li>
                    <a class="thumb" href="~/Content/Img/img1.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/img/img2.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/img/img3.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img4.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img5.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img6.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img7.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img8.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img9.jpg"></a>
                </li>
                <li>
                    <a class="thumb" href="~/Content/Img/img6.jpg"></a>
                </li>
            </ul>
        </div>
    </div>
</div>
    
<div class="home-button-container">
    
    <a href="@Url.Action("Register", "Account")" class="home-button">JOIN FOR FREE<p class="fa fa-angle-right"></p></a>
    
</div>
</body>
</html>