
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body>


    <div>
        <h2>TV Show</h2>


        <div class="row">
            <div class="col-md-4 Movie-search">
                <div id="Movies_filter" class="dataTables_filter">
                    <input type="search" class="form-control input-sm Minput ion-ios-search" placeholder="Quick Search" aria-controls="Movies">
                </div>
            </div>
        </div>

    </div>
</body>

